@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto Condensed';
  font-size: 0.75rem;
  background-color: #252525;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #ececec
}

h4 {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: #ececec;
}

p {
  margin-left: 6px;
}

button {
  background-color: #c4c4c4;
  height: 30px;
  width: 252px;
  border: 1px solid #ececec;
  border-radius: 3px;
  font-size: 0.75rem;
  margin: 10px 0;
}

button:hover {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs-container {
  border: 1px solid #ececec;
  background-color: #ececec;
  border-radius: 3px;
  width: 250px;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  width: 60px;
  margin-right: 6px;
  border-radius: 3px;
  color: #ececec;
  background-color: #e30009;
}

.answer-container {
  display: flex;
  justify-content: center;
}

.answer-text {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #ececec;
  background-color: #00abfd;
  border-radius: 3px;
  width: 247px;
  height: 40px;
  font-weight: 700;
  margin: 0  0 50px 0;
  padding: 0 0 0 5px;
}